<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/cordobario.jpeg" alt="viajemos"/>
      <ion-card-title>Córdoba</ion-card-title>
    </ion-card-header>
    En su extenso territorio confluyen llanuras, sierras y valles que le dan identidad a Córdoba. 
    El paisaje predominante en estas tierras mediterráneas -casi dos tercios del total- forma parte 
    de una extensa llanura pampeana que se encuentra entre importantes áreas montañosas del oeste y 
    la llanura del litoral y el este.
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
