<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/cordobario.jpeg" alt="cordobario" class="img"/>
      <ion-card-title class="titulo">Córdoba</ion-card-title>
    </ion-card-header>
    <div class="parrafo">
    En su extenso territorio confluyen llanuras, sierras y valles que le dan identidad a Córdoba. 
    El paisaje predominante en estas tierras mediterráneas forma parte de una extensa llanura pampeana.
    </div>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Ubicación </ion-label>
      <ion-button fill="outline" slot="end" href="https://www.google.com/maps/place/C%C3%B3rdoba/@-31.3992876,-64.264384,12z/data=!3m1!4b1!4m5!3m4!1s0x9432985f478f5b69:0xb0a24f9a5366b092!8m2!3d-31.4200833!4d-64.1887761">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/img/rionegro.jpeg" alt="Rio negro" class="img"/>
      <ion-card-title class="titulo">Río Negro</ion-card-title>
    </ion-card-header>
    <div class="parrafo">
    En el oeste las montañas dominan el paisaje, con grandes lagos y bosques espesos y demas. 
    En ese paisaje árido, barrido por el viento aparecen ríos, arroyos y lagunas, pueblos, y productos originados por culturas de muy diverso origen.
  </div>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Ubicación </ion-label>
      <ion-button fill="outline" slot="end" href="https://www.google.com/maps/place/R%C3%ADo+Negro/@-39.7632418,-69.5937359,7z/data=!3m1!4b1!4m5!3m4!1s0x95e282c4b0a6530b:0xc2dfc6ff33b0aedb!8m2!3d-40.7344343!4d-66.6176455?hl=es">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/img/mendoza.jpeg" alt="Rio negro" class="img"/>
      <ion-card-title class="titulo">Mendoza</ion-card-title>
    </ion-card-header>
    <div class="parrafo">
      Ubicada al pie de las más altas montañas de Los Andes, Mendoza es la puerta obligada al Océano Pacífico. 
      El clima es agradable, templado con escasas lluvias y muy pocos días de viento, gracias a la protección de la cordillera.
  </div>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Ubicación </ion-label>
      <ion-button fill="outline" slot="end" href="https://www.google.com/maps/place/Mendoza,+Capital,+Mendoza/@-32.8833303,-68.8935386,13z/data=!4m5!3m4!1s0x967e093ec45179bf:0x205a78f6d20efa3a!8m2!3d-32.8894587!4d-68.8458386">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>prueba1</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="Inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Incio</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="nosotros">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
