<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Deporte Bs As</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Parque Sarmiento</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Sarmiento/@-34.5554093,-58.501918,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb6e5b3eef73d:0xd3c3514dbd8403ef!8m2!3d-34.5554093!4d-58.4997293"><img src="assets/img/sarmiento1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Sarmiento/@-34.5554093,-58.501918,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb6e5b3eef73d:0xd3c3514dbd8403ef!8m2!3d-34.5554093!4d-58.4997293"><img src="assets/img/sarmiento2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Sarmiento/@-34.5554093,-58.501918,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb6e5b3eef73d:0xd3c3514dbd8403ef!8m2!3d-34.5554093!4d-58.4997293" ><img src="assets/img/sarmiento3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Sarmiento/@-34.5554093,-58.501918,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb6e5b3eef73d:0xd3c3514dbd8403ef!8m2!3d-34.5554093!4d-58.4997293"><img src="assets/img/sarmiento4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Sarmiento/@-34.5554093,-58.501918,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb6e5b3eef73d:0xd3c3514dbd8403ef!8m2!3d-34.5554093!4d-58.4997293"><img src="assets/img/sarmiento5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Se destaca por sus importantes <b>instalaciones deportivas</b>, tales como canchas de fútbol profesional, canchas de fútbol reducido, canchas de pelota paleta, piscinas olímpicas, canchas de handball, canchas de tenis, cancha de beach volley, cancha de softbol, pista de atletismo, pista de patín roller y pista de BMX freestyle. El parque también posee una bicisenda y un circuito aeróbico</p>
</div>

<h2 class="h2">Polideportivo Colegiales</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=polideportivo+colegiales&bih=732&biw=1440&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjj4dKjge7zAhVfHbkGHR5wBHIQ_AUoAXoECAEQAw"><img src="assets/img/poli1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=polideportivo+colegiales&bih=732&biw=1440&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjj4dKjge7zAhVfHbkGHR5wBHIQ_AUoAXoECAEQAw"><img src="assets/img/poli2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=polideportivo+colegiales&bih=732&biw=1440&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjj4dKjge7zAhVfHbkGHR5wBHIQ_AUoAXoECAEQAw"><img src="assets/img/poli3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=polideportivo+colegiales&bih=732&biw=1440&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjj4dKjge7zAhVfHbkGHR5wBHIQ_AUoAXoECAEQAw"><img src="assets/img/poli4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=polideportivo+colegiales&bih=732&biw=1440&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjj4dKjge7zAhVfHbkGHR5wBHIQ_AUoAXoECAEQAw"><img src="assets/img/poli5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Es un polideportivo el cual cuenta con muchas áreas de deportes, como por ejemplo basquet, fútbol y demas. No solo eso sino que puedes ir a disfrutar de la pileta y demas actividades que te ofrece el complejo.</p>
</div>


<h2 class="h2">Parque Manuel Belgrano</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/belgrano1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/belgrano2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/belgrano3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/belgrano4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/belgrano5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Es uno de <b>los parques más reconocidos</b> de la provincia Buenos Aires. Este cuenta con direntes actividades para realizar, por ejemplo ciclismo, tenis, patín, básquet y mas espacios para disfrutar.</p>
</div>

</ion-content>
