<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Restaurante Cordoba</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Santa Calma</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/SantaCalma/@-31.4319211,-64.1751507,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2eab7fd7b79:0x12d84fabc83bd0b4!8m2!3d-31.4319434!4d-64.172982"><img src="assets/img/santa.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/SantaCalma/@-31.4319211,-64.1751507,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2eab7fd7b79:0x12d84fabc83bd0b4!8m2!3d-31.4319434!4d-64.172982"><img src="assets/img/santa2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/SantaCalma/@-31.4319211,-64.1751507,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2eab7fd7b79:0x12d84fabc83bd0b4!8m2!3d-31.4319434!4d-64.172982" ><img src="assets/img/santa3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/SantaCalma/@-31.4319211,-64.1751507,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2eab7fd7b79:0x12d84fabc83bd0b4!8m2!3d-31.4319434!4d-64.172982"><img src="assets/img/santa4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/SantaCalma/@-31.4319211,-64.1751507,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2eab7fd7b79:0x12d84fabc83bd0b4!8m2!3d-31.4319434!4d-64.172982"><img src="assets/img/santa5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Santa Calma es un lugar para ir con familia, amigos, salida de pareja o hasta solo. el mismo cuenta con un buen servicio, muy rica comida y un excelente ambiente. </p>
</div>

<h2 class="h2">Diran</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dir%C3%A1n/@-31.409802,-64.1824005,17z/data=!3m1!4b1!4m5!3m4!1s0x9432986f9eb90f67:0x6dde5725716bcfc0!8m2!3d-31.4098589!4d-64.180235"><img src="assets/img/diran.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dir%C3%A1n/@-31.409802,-64.1824005,17z/data=!3m1!4b1!4m5!3m4!1s0x9432986f9eb90f67:0x6dde5725716bcfc0!8m2!3d-31.4098589!4d-64.180235"><img src="assets/img/diran2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dir%C3%A1n/@-31.409802,-64.1824005,17z/data=!3m1!4b1!4m5!3m4!1s0x9432986f9eb90f67:0x6dde5725716bcfc0!8m2!3d-31.4098589!4d-64.180235"><img src="assets/img/diran3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dir%C3%A1n/@-31.409802,-64.1824005,17z/data=!3m1!4b1!4m5!3m4!1s0x9432986f9eb90f67:0x6dde5725716bcfc0!8m2!3d-31.4098589!4d-64.180235"><img src="assets/img/diran4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dir%C3%A1n/@-31.409802,-64.1824005,17z/data=!3m1!4b1!4m5!3m4!1s0x9432986f9eb90f67:0x6dde5725716bcfc0!8m2!3d-31.4098589!4d-64.180235"><img src="assets/img/diran5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Diran es un restaurante gourmet de comida del Medio Oriente. El armenio Diran Arslanian es el chef principal.</p>
</div>


<h2 class="h2">El Papagayo</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p> El Papagayo ofrece una propuesta variada y jugada, con platos creativos y sabores novedosos. La atención es de primera y cuenta con un menu de 11 pasos en el que un chef va trayendo comida variada sin menu especifico.</p>
</div>

</ion-content>
