<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Experiencias</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
 <div > 
  <ion-card  *ngFor="let f of fotos" class="card">
 
   
   <ion-img [src]="f.url" *ngIf="f!=undefined"> 

  </ion-img> 

   
  </ion-card>
</div>

</ion-content>
