<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 id="titulo">Complete su información</h1>
 
  <ion-item>
    <ion-label>Nombre y Apellido</ion-label>
    <ion-input [(ngModel)]="nombre" placeholder="Nombre y Apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nacimiento</ion-label>
    <ion-input [(ngModel)]="nacimiento" placeholder="Nacimiento" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Direccion</ion-label>
    <ion-input [(ngModel)]="direccion" placeholder="Direccion" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefono</ion-label>
    <ion-input [(ngModel)]="telefono" placeholder="Telefono" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mail</ion-label>
    <ion-input [(ngModel)]="mail" placeholder="Mail" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contrasena</ion-label>
    <ion-input [(ngModel)]="contrasena" placeholder="Contraseña" ></ion-input>
  </ion-item>
  <br />
  <ion-button (click)="Enviar()" color="secondary" expand="block">Enviar</ion-button>
</ion-content>