<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Turismo Buenos Aires</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Shopping Patagonia</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491" ><img src="assets/img/nor3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Un espacio agradable y pequeño con cines, patio de comida, cocheras subterraneas y locales de buen nivel.</p>
</div>

<h2 class="h2">Galeria del sol</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Muy linda galería de compras todo su frente vidriado es para gozarlo en invierno nevando. Ubicada en la peatonal y con muchos locales para realizar las compras de los recuerdos de Bariloche y souvenirs para los amigos.</p>
</div>


<h2 class="h2">Las Olas Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Las Olas es el ùnico shopping del balneario Las Grutas, y se encuentra situado en la intersecciòn de las calles Choel Choel, Regina y El Bolsòn, a una cuadra de la primera bajada al mar del centro de la villa turìstica. Por su estructura vidriada, se lo ve muy atractivo tanto por fuera como por dentro, el cuàl està compuesto por la planta baja y un primer piso al que se accede por una escalera mecànica. Màs que un shopping se trata en realidad de un pequeño centro de compras, que cuenta con un limitado nùmero de locales de diversos rubros, entre ellos de ropa, una tienda de mascotas, de peluches, una librerìa y regalerìa, una chocolaterìa, una heladerìa, y algunos otros màs. </p>
</div>

</ion-content>
