<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Shopping Rio Negro</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Shopping Patagonia</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Shopping+Patagonia/@-41.1374362,-71.3003086,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b65ebf1a461:0xb6d5dd849475aca1!8m2!3d-41.1374362!4d-71.29811991"><img src="assets/img/pata1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Shopping+Patagonia/@-41.1374362,-71.3003086,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b65ebf1a461:0xb6d5dd849475aca1!8m2!3d-41.1374362!4d-71.2981199"><img src="assets/img/pata2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Shopping+Patagonia/@-41.1374362,-71.3003086,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b65ebf1a461:0xb6d5dd849475aca1!8m2!3d-41.1374362!4d-71.2981199" ><img src="assets/img/pata3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Shopping+Patagonia/@-41.1374362,-71.3003086,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b65ebf1a461:0xb6d5dd849475aca1!8m2!3d-41.1374362!4d-71.2981199"><img src="assets/img/pata4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Shopping+Patagonia/@-41.1374362,-71.3003086,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b65ebf1a461:0xb6d5dd849475aca1!8m2!3d-41.1374362!4d-71.2981199"><img src="assets/img/pata5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Un espacio agradable y pequeño con cines, patio de comida, cocheras subterraneas y locales de buen nivel.</p>
</div>

<h2 class="h2">Galeria del sol</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Galer%C3%ADa+del+Sol,+Mitre+340,+San+Carlos+de+Bariloche,+R%C3%ADo+Negro/@-41.1339793,-71.3049006,17z/data=!4m2!3m1!1s0x961a7b71f7779caf:0xd5e0fe54af682d9e"><img src="assets/img/gal1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Galer%C3%ADa+del+Sol,+Mitre+340,+San+Carlos+de+Bariloche,+R%C3%ADo+Negro/@-41.1339793,-71.3049006,17z/data=!4m2!3m1!1s0x961a7b71f7779caf:0xd5e0fe54af682d9e"><img src="assets/img/gal2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Galer%C3%ADa+del+Sol,+Mitre+340,+San+Carlos+de+Bariloche,+R%C3%ADo+Negro/@-41.1339793,-71.3049006,17z/data=!4m2!3m1!1s0x961a7b71f7779caf:0xd5e0fe54af682d9e"><img src="assets/img/gal3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Galer%C3%ADa+del+Sol,+Mitre+340,+San+Carlos+de+Bariloche,+R%C3%ADo+Negro/@-41.1339793,-71.3049006,17z/data=!4m2!3m1!1s0x961a7b71f7779caf:0xd5e0fe54af682d9e"><img src="assets/img/gal4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Galer%C3%ADa+del+Sol,+Mitre+340,+San+Carlos+de+Bariloche,+R%C3%ADo+Negro/@-41.1339793,-71.3049006,17z/data=!4m2!3m1!1s0x961a7b71f7779caf:0xd5e0fe54af682d9e"><img src="assets/img/gal5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Muy linda galería de compras con todo su frente vidriado. Ubicada en la peatonal y con muchos locales para realizar las compras de los recuerdos de Bariloche y souvenirs para los amigos.</p>
</div>


<h2 class="h2">Las Olas Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Las+Olas+Shopping/@-40.8098653,-65.0896369,17z/data=!3m1!4b1!4m5!3m4!1s0x95fa332edcf449f1:0x1e006cd9de46d182!8m2!3d-40.8099689!4d-65.0873482"><img src="assets/img/ola1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Las+Olas+Shopping/@-40.8098653,-65.0896369,17z/data=!3m1!4b1!4m5!3m4!1s0x95fa332edcf449f1:0x1e006cd9de46d182!8m2!3d-40.8099689!4d-65.0873482"><img src="assets/img/ola2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Las+Olas+Shopping/@-40.8098653,-65.0896369,17z/data=!3m1!4b1!4m5!3m4!1s0x95fa332edcf449f1:0x1e006cd9de46d182!8m2!3d-40.8099689!4d-65.0873482"><img src="assets/img/ola3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Las+Olas+Shopping/@-40.8098653,-65.0896369,17z/data=!3m1!4b1!4m5!3m4!1s0x95fa332edcf449f1:0x1e006cd9de46d182!8m2!3d-40.8099689!4d-65.0873482"><img src="assets/img/ola4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Las+Olas+Shopping/@-40.8098653,-65.0896369,17z/data=!3m1!4b1!4m5!3m4!1s0x95fa332edcf449f1:0x1e006cd9de46d182!8m2!3d-40.8099689!4d-65.0873482"><img src="assets/img/ola5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Las Olas se encuentra situado en la intersección de las calles Choel Choel, Regina y El Bolsón. Se lo ve muy atractivo por su estructura vidriada, tanto por fuera como por dentro. Más que un shopping se trata en realidad de un pequeño centro de compras, que cuenta con un limitado número de locales de diversos rubros. </p>
</div>

</ion-content>
