.img {
    border-radius: 10px;
}

.titulo{
    color: black;
    text-align: center;
}

.parrafo{
    background-color: #42a861;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo{     
    width:70% !important;  
    height : 70% !important;  
    max-width: 70px !important;  
    max-height: 70px !important; 
    }

.boton{
    background-color: #42a861;
    text-align: center;
    margin-bottom: 10px;
}

.card{
    background-color: #42a861;
}

ion-card{
    background-color: #42a861;
}

.menu{
    color: black;
}

