<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Turismo Buenos Aires</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Nordel Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491" ><img src="assets/img/nor3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Nordelta+Centro+Comercial/@-34.3991865,-58.6556537,17z/data=!4m5!3m4!1s0x95bca3e513bd265d:0x9a3d6f027c33ad4!8m2!3d-34.3992793!4d-58.653491"><img src="assets/img/nor5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Es un grna centro comercial, el cual tiene buena variedad de ofertas gastronómicas. Hay heladerías. Tiene casas de ropa y al estar bastante al aire libre está bueno para ir un día de sol.</p>
</div>

<h2 class="h2">Alto Palermo</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.4129457,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca83d2aa1521:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757?hl=es"><img src="assets/img/alto5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El <b>Alto Palermo </b> fue de los primeros shoppings que se construyeron en la ciudad. En la actualidad es uno de los centros comerciales más tradicionales. tiene locales de las principales marcas de indumentaria, electrónica y electrodomésticos, librerías, calzados, artículos deportivos y mucho más.</p>
</div>


<h2 class="h2">Unicenter</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Unicenter/@-34.5075603,-58.5274395,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb0ee292497e9:0xf9a611e58747f528!8m2!3d-34.5075603!4d-58.5252508"><img src="assets/img/shp5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Es una Unicenter Shopping es el <b>tercer centro comercial que abrió sus puertas en Argentina</b> puesto que el primero fue Shopping Sur y el segundo fue el Shopping Soleil. Unicenter pertenece al holding chileno Cencosud, inaugurado el 12 de octubre de 1988. </p>
</div>

</ion-content>
