<ion-header>
  <ion-toolbar>
    <ion-title>Deportes mendoza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <h2 class="h2">Rugby</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/rugby2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/rugby4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/rugby1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/rugby5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/rugby3.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El <b>Rugby</b>,es uno de los deportes mas practicados en Mendoza, cuentan con grandes clubes y de ahi salieron jugadores como Nico Sanchez y el lobo Fernandez.</p>
</div>

<h2 class="h2">caminatas</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/caminatas1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/caminatas2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/caminatas3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/caminatas4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/caminatas5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Las clasicas caminatas por las montañas de Mendoza ya se volvieron una costumbre, hoy en dia si pasas por Mendoza tenes que hacer una caminata para conocer, entrenar y aprovechar.</p>
</div>


<h2 class="h2">Rapel</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel4.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El Rappel es uno de los deportes de riesgo mas divertidos y arriesgados para los turistas, en Mendoza, instruidos por profesionales podes poner a prueba tus habilidades!.</p>
</div>

</ion-content>
