<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Deporte Mendoza</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <h2 class="h2">Rugby</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby3.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El Rugby es uno de los deportes mas practicados en Mendoza, cuentan con grandes clubes, y una gran actividad es pasar por el gran estadio de Mendoza e ir a ver un partido.</p>
</div>

<h2 class="h2">Caminatas</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Las clasicas caminatas por las montañas de Mendoza ya se volvieron una costumbre, hoy en dia si pasas por Mendoza tenes que hacer una caminata para conocer, entrenar y aprovechar.</p>
</div>


<h2 class="h2">Rapel</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Argentina+Rafting+Expediciones+(Oficina+%2F+Reservas)/@-32.891939,-68.8407314,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091761fd9a85:0x4b0c4c615db2f661!8m2!3d-32.8919435!4d-68.8385427"><img src="assets/img/rappel1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Argentina+Rafting+Expediciones+(Oficina+%2F+Reservas)/@-32.891939,-68.8407314,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091761fd9a85:0x4b0c4c615db2f661!8m2!3d-32.8919435!4d-68.8385427"><img src="assets/img/rappel2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Argentina+Rafting+Expediciones+(Oficina+%2F+Reservas)/@-32.891939,-68.8407314,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091761fd9a85:0x4b0c4c615db2f661!8m2!3d-32.8919435!4d-68.8385427"><img src="assets/img/rappel3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Argentina+Rafting+Expediciones+(Oficina+%2F+Reservas)/@-32.891939,-68.8407314,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091761fd9a85:0x4b0c4c615db2f661!8m2!3d-32.8919435!4d-68.8385427"><img src="assets/img/rappel5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Argentina+Rafting+Expediciones+(Oficina+%2F+Reservas)/@-32.891939,-68.8407314,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091761fd9a85:0x4b0c4c615db2f661!8m2!3d-32.8919435!4d-68.8385427"><img src="assets/img/rappel4.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El Rapel es uno de los deportes de riesgo mas divertidos y arriesgados para los turistas en Mendoza, instruidos por profesionales donde podes poner a prueba tus habilidades.</p>
</div>

</ion-content>
