<ion-header>
  <ion-toolbar>
    <ion-title>Deportes mendoza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <h2 class="h2">Rugby</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Estadio+Malvinas+Argentinas/@-32.8896597,-68.8822843,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09b522bd5683:0x684a90ae779e7723!8m2!3d-32.8896642!4d-68.8800956"><img src="assets/img/rugby3.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El <b>Rugby</b>,es uno de los deportes mas practicados en Mendoza, cuentan con grandes clubes y de ahi salieron jugadores como Nico Sanchez y el lobo Fernandez.</p>
</div>

<h2 class="h2">caminatas</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Apart+Hotel+Monta%C3%B1as+Azules/@-32.8869525,-68.8501917,17z/data=!3m1!4b1!4m8!3m7!1s0x967e090341a53637:0xef30edac17b2010e!5m2!4m1!1i2!8m2!3d-32.8869565!4d-68.8480056"><img src="assets/img/caminatas5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Las clasicas caminatas por las montañas de Mendoza ya se volvieron una costumbre, hoy en dia si pasas por Mendoza tenes que hacer una caminata para conocer, entrenar y aprovechar.</p>
</div>


<h2 class="h2">Rapel</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/rappel4.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El Rappel es uno de los deportes de riesgo mas divertidos y arriesgados para los turistas, en Mendoza, instruidos por profesionales podes poner a prueba tus habilidades!.</p>
</div>

</ion-content>
