

<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Turismo Cordoba</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Dique San Roque</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dique+San+Roque/@-31.373592,-64.4762548,15z/data=!3m1!4b1!4m5!3m4!1s0x942d64309d46d47b:0x5626ca01f5a22d8f!8m2!3d-31.3736111!4d-64.4675"><img src="assets/img/dique1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dique+San+Roque/@-31.373592,-64.4762548,15z/data=!3m1!4b1!4m5!3m4!1s0x942d64309d46d47b:0x5626ca01f5a22d8f!8m2!3d-31.3736111!4d-64.4675"><img src="assets/img/dique2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dique+San+Roque/@-31.373592,-64.4762548,15z/data=!3m1!4b1!4m5!3m4!1s0x942d64309d46d47b:0x5626ca01f5a22d8f!8m2!3d-31.3736111!4d-64.4675"><img src="assets/img/dique3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Dique+San+Roque/@-31.373592,-64.4762548,15z/data=!3m1!4b1!4m5!3m4!1s0x942d64309d46d47b:0x5626ca01f5a22d8f!8m2!3d-31.3736111!4d-64.4675"><img src="assets/img/dique4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/dique5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p> El Dique San Roque es una represa ubicada en el departamento Punilla, provincia de Córdoba, República Argentina, el mismo cuenta con  miradores panorámicos y zonas para bañarse, practicar vela y navegar.</p>
</div>

<h2 class="h2">Museo Superior de Bellas Artes Evita</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Museo+Superior+de+Bellas+Artes+%22Evita%22+%7C+Palacio+Ferreyra/@-31.4271293,-64.1871581,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a28e5b9d7fe5:0x284de6f3d7b8a60!8m2!3d-31.4271562!4d-64.1850469"><img src="assets/img/museo.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Museo+Superior+de+Bellas+Artes+%22Evita%22+%7C+Palacio+Ferreyra/@-31.4271293,-64.1871581,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a28e5b9d7fe5:0x284de6f3d7b8a60!8m2!3d-31.4271562!4d-64.1850469"><img src="assets/img/museo2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Museo+Superior+de+Bellas+Artes+%22Evita%22+%7C+Palacio+Ferreyra/@-31.4271293,-64.1871581,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a28e5b9d7fe5:0x284de6f3d7b8a60!8m2!3d-31.4271562!4d-64.1850469"><img src="assets/img/museo3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Museo+Superior+de+Bellas+Artes+%22Evita%22+%7C+Palacio+Ferreyra/@-31.4271293,-64.1871581,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a28e5b9d7fe5:0x284de6f3d7b8a60!8m2!3d-31.4271562!4d-64.1850469"><img src="assets/img/museo4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Museo+Superior+de+Bellas+Artes+%22Evita%22+%7C+Palacio+Ferreyra/@-31.4271293,-64.1871581,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a28e5b9d7fe5:0x284de6f3d7b8a60!8m2!3d-31.4271562!4d-64.1850469"><img src="assets/img/museo5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>el Museo Superior de Bellas Artes Evita contiene cuadros de pintores argentinos y españoles, un jardín de esculturas y una biblioteca, este es ideal para visitar y conocer mas sobre la cultura de argentina.</p>
</div>


<h2 class="h2">Cerro champaquí</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/dir/-34.489802,-58.9813008/cerro+champaqui/@-32.8760385,-66.5650753,6z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x95d2d23c48bb2403:0x87a69565a70ae703!2m2!1d-64.933333!2d-31.983333"><img src="assets/img/cerro.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/dir/-34.489802,-58.9813008/cerro+champaqui/@-32.8760385,-66.5650753,6z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x95d2d23c48bb2403:0x87a69565a70ae703!2m2!1d-64.933333!2d-31.983333"><img src="assets/img/cerro2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/dir/-34.489802,-58.9813008/cerro+champaqui/@-32.8760385,-66.5650753,6z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x95d2d23c48bb2403:0x87a69565a70ae703!2m2!1d-64.933333!2d-31.983333"><img src="assets/img/cerro3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/dir/-34.489802,-58.9813008/cerro+champaqui/@-32.8760385,-66.5650753,6z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x95d2d23c48bb2403:0x87a69565a70ae703!2m2!1d-64.933333!2d-31.983333"><img src="assets/img/cerro4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/dir/-34.489802,-58.9813008/cerro+champaqui/@-32.8760385,-66.5650753,6z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x95d2d23c48bb2403:0x87a69565a70ae703!2m2!1d-64.933333!2d-31.983333"><img src="assets/img/cerro5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Los autobuses, taxis, y gente retumban a lo largo de las estrechas calles y aceras de la frenética "microcentro". El momento de máximo apogeo es generalmente durante las horas de oficina. Situada al este de la Avenida 9 de Julio <b>la avenida más ancha del mundo.</b></p>
</div>

</ion-content>
