ion-slides {
    height: 100%;
  }
  
  .swiper-slide {
    display: block;
  }
  
  .swiper-slide h2 {
    text-align: center;
  }
  
  .swiper-slide img {
    max-height: 350px;
    max-width: 350px;
    margin-top: 50%;
    align-self: center;
  
    pointer-events: none;
  }
  
  b {
    font-weight: 500;
  }
  
  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }
  
  p b {
    color: var(--ion-text-color, #000000);
  }
  