<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Cordoba</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-slides>
  
      <ion-slide>
        <div class="slide">
          <img src="assets/img/capitalcordoba.jpg"/>
          <h2>Cordoba</h2>
          <p>Conoce más sobre la Provincia de Cordoba.</p>
        </div>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/turismocordoba.jpg"/>
        <h2>Turismo</h2>
        <p> Dicha provincia cuenta con varios centros turisticos, para conocer mas sobre ellos presiona el boton <b>"Ver más".</b></p>
        <ion-button  href="turismcordoba">Ver más</ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/raftingcordoba.jpg"/>
        <h2>Deporte</h2>
        <p>El deporte es algo que apasiona a los Argentinos y Cordoba cuenta con varios sitios en los que uno puede practicarlo. <b>Rafting</b> es un deporte clasico de Córdoba que se practica en los rios rapidos de la provincia</p>
        <ion-button  href="deportecordoba">Ver más</ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/restaurantescordoba.jpg/">
        <h2>Restaurante</h2>
        <p>En Córdoba podes encontrar diferentes lugares para disfrutar de una rica comida con tu familia, amigos o con quien quieras. Te dejaremos una lista de los mejores restaurantes.</p>
        <ion-button  href="restaurantecordoba">Ver más</ion-button>
      </ion-slide>

      <ion-slide>
        <img src="assets/img/cordobashopping.jpg"/>
        <h2>Shopping</h2>
        <p> Córdoba cuenta con una gran variedad de shoppings y dentro de estos una gran cantidad de tiendas. Te dejaremos una lista con los mejores shoppings de dicha provincia. </p>
        <ion-button href="shoppingcordoba">Ver más</ion-button>
      </ion-slide>
  
    </ion-slides>
  
</ion-content>
