<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Deportes Cordoba</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Polideportivo Municipal Argentino Central</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+Municipal+Argentino+Central/@-31.3858678,-64.1684759,17z/data=!3m1!4b1!4m5!3m4!1s0x9432983e6d10430d:0x46ac7e4c2b5333b!8m2!3d-31.3858724!4d-64.1662872"><img src="assets/img/muni.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+Municipal+Argentino+Central/@-31.3858678,-64.1684759,17z/data=!3m1!4b1!4m5!3m4!1s0x9432983e6d10430d:0x46ac7e4c2b5333b!8m2!3d-31.3858724!4d-64.1662872"><img src="assets/img/muni2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+Municipal+Argentino+Central/@-31.3858678,-64.1684759,17z/data=!3m1!4b1!4m5!3m4!1s0x9432983e6d10430d:0x46ac7e4c2b5333b!8m2!3d-31.3858724!4d-64.1662872" ><img src="assets/img/muni3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+Municipal+Argentino+Central/@-31.3858678,-64.1684759,17z/data=!3m1!4b1!4m5!3m4!1s0x9432983e6d10430d:0x46ac7e4c2b5333b!8m2!3d-31.3858724!4d-64.1662872"><img src="assets/img/muni4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+Municipal+Argentino+Central/@-31.3858678,-64.1684759,17z/data=!3m1!4b1!4m5!3m4!1s0x9432983e6d10430d:0x46ac7e4c2b5333b!8m2!3d-31.3858724!4d-64.1662872"><img src="assets/img/muni5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El polideportivo municipal argentino central es el principal polideportivo de cordoba, el mismo cuenta con canchas de futbol y de hockey para la diversion de chicos y chicas. </p>
</div>

<h2 class="h2">Polideportivo General Paz</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+General+Paz/@-31.4133089,-64.1658778,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2a430dce4e9:0xc09a1ecda83ee3e2!8m2!3d-31.4132958!4d-64.1636206"><img src="assets/img/poli.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+General+Paz/@-31.4133089,-64.1658778,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2a430dce4e9:0xc09a1ecda83ee3e2!8m2!3d-31.4132958!4d-64.1636206"><img src="assets/img/polideportivo2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+General+Paz/@-31.4133089,-64.1658778,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2a430dce4e9:0xc09a1ecda83ee3e2!8m2!3d-31.4132958!4d-64.1636206"><img src="assets/img/polideportivo3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+General+Paz/@-31.4133089,-64.1658778,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2a430dce4e9:0xc09a1ecda83ee3e2!8m2!3d-31.4132958!4d-64.1636206"><img src="assets/img/polideportivo4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Polideportivo+General+Paz/@-31.4133089,-64.1658778,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2a430dce4e9:0xc09a1ecda83ee3e2!8m2!3d-31.4132958!4d-64.1636206"><img src="assets/img/polideportivo5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Es un polideportivo el cual cuenta con muchas áreas de deportes, como por ejemplo basquet, fútbol y demas. No solo eso sino que puedes ir a disfrutar de la pileta y demas actividades que te ofrece el complejo.</p>
</div>


<h2 class="h2">Parque del Kempes</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/kempes.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/kempes2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/kempes3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/kempes4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parque+Manuel+Belgrano.+Ex-KDT/@-34.5695156,-58.4047587,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb56e8e1649e7:0xbc526eb0394a1fa7!8m2!3d-34.5695156!4d-58.40257?hl=es"><img src="assets/img/kempes5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El parque del Kempes actualmente cuenta con más de 80 hectáreas de árboles autóctonos y especies exóticas, estaciones aeróbicas, juegos infantiles y las mejores instalaciones para la práctica de deportes extremos.</p>
</div>

</ion-content>