<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Turismo Rio Negro</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Lago Nahuel Huapi</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=lago+nahuel+huapi&bih=625&biw=1366&rlz=1C1ALOY_esAR976AR976&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiT08atifbzAhViGLkGHbhYATAQ_AUoAXoECAEQAw"><img src="assets/img/lago1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=lago+nahuel+huapi&bih=625&biw=1366&rlz=1C1ALOY_esAR976AR976&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiT08atifbzAhViGLkGHbhYATAQ_AUoAXoECAEQAw"><img src="assets/img/lago2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=lago+nahuel+huapi&bih=625&biw=1366&rlz=1C1ALOY_esAR976AR976&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiT08atifbzAhViGLkGHbhYATAQ_AUoAXoECAEQAw"><img src="assets/img/lago3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=lago+nahuel+huapi&bih=625&biw=1366&rlz=1C1ALOY_esAR976AR976&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiT08atifbzAhViGLkGHbhYATAQ_AUoAXoECAEQAw"><img src="assets/img/lago4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=lago+nahuel+huapi&bih=625&biw=1366&rlz=1C1ALOY_esAR976AR976&hl=es&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiT08atifbzAhViGLkGHbhYATAQ_AUoAXoECAEQAw"><img src="assets/img/lago5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El lago Nahuel Huapi es un lago de origen glaciar de la Patagonia Argentina. Es compartido por las provincias argentinas del Neuquén y de Río Negro, y rodeado mayormente por el parque nacional homónimo.</p>
</div>

<h2 class="h2">El Bolsón</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=el+bolson&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiUiLbxifbzAhXjK7kGHXWvDvAQ_AUoAXoECAEQAw"><img src="assets/img/bolson1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=el+bolson&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiUiLbxifbzAhXjK7kGHXWvDvAQ_AUoAXoECAEQAw"><img src="assets/img/bolson2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=el+bolson&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiUiLbxifbzAhXjK7kGHXWvDvAQ_AUoAXoECAEQAw"><img src="assets/img/bolson3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=el+bolson&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiUiLbxifbzAhXjK7kGHXWvDvAQ_AUoAXoECAEQAw"><img src="assets/img/bolson4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=el+bolson&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiUiLbxifbzAhXjK7kGHXWvDvAQ_AUoAXoECAEQAw"><img src="assets/img/bolson5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>El Bolsón es una ciudad argentina ubicada en la región patagónica, en el extremo suroeste de la provincia de Río Negro. Es la ciudad más importante de la Comarca andina del paralelo 42, microrregión que se extiende hasta la provincia de Chubut, con un paisaje de montañas, bosques de coníferas, ríos y lagos.</p>
</div>


<h2 class="h2">Llao Llao</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Llao-llao+Resorts+Sa/@-34.5926311,-58.3777476,17z/data=!4m5!3m4!1s0x95bccab44f72c6e9:0x1620edec8f1936ce!8m2!3d-34.5926311!4d-58.3755589"><img src="assets/img/lllao1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Llao-llao+Resorts+Sa/@-34.5926311,-58.3777476,17z/data=!4m5!3m4!1s0x95bccab44f72c6e9:0x1620edec8f1936ce!8m2!3d-34.5926311!4d-58.3755589"><img src="assets/img/llao2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Llao-llao+Resorts+Sa/@-34.5926311,-58.3777476,17z/data=!4m5!3m4!1s0x95bccab44f72c6e9:0x1620edec8f1936ce!8m2!3d-34.5926311!4d-58.3755589"><img src="assets/img/llao3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Llao-llao+Resorts+Sa/@-34.5926311,-58.3777476,17z/data=!4m5!3m4!1s0x95bccab44f72c6e9:0x1620edec8f1936ce!8m2!3d-34.5926311!4d-58.3755589"><img src="assets/img/llao4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Llao-llao+Resorts+Sa/@-34.5926311,-58.3777476,17z/data=!4m5!3m4!1s0x95bccab44f72c6e9:0x1620edec8f1936ce!8m2!3d-34.5926311!4d-58.3755589"><img src="assets/img/llao5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Este hotel de lujo, con vistas a 2 lagos y rodeado por los Andes, se encuentra a 2 km de Puerto Pañuelo y a 28 de la estación de esquí Catedral Alta.</p>
</div>

</ion-content>
