<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="submenu">Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href= "http://localhost:8100/inicio">Inicio</ion-item>
        <ion-item href= "http://localhost:8100/sobrenosotros">Sobre nosotros</ion-item>
        <ion-item href= "http://localhost:8100/experiencias">Experiencias</ion-item>
        <ion-item href= "http://localhost:8100/socios">Socios</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id= "main"></ion-router-outlet>
</ion-app>
