<ion-header>
  <ion-toolbar>
    <ion-title>Shopping  cordoba</ion-title>
  </ion-toolbar>
</ion-header>


<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Shopping cordoba</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Cordoba Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334" ><img src="assets/img/shop3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>La estructura de Córdoba, Shopping Villa Cabrera cuenta con 21.267 m2 para locales comerciales sobre una superficie total de 34.626 m2 cubiertos y un estacionamiento con capacidad para 1.500 automóviles con un 50% de cocheras cubiertas. </p>
</div>

<h2 class="h2">Nuevocentro Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Diran es un restaurante gourmet de comida Del Medio Oriente, Armenia, Diran Arslanian es el chef principal.</p>
</div>


<h2 class="h2">El Papagayo</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/El+Papagayo+Restaurant/@-31.4142823,-64.1945146,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a2802bb715c1:0x33bf20cfde624bbc!8m2!3d-31.4142903!4d-64.1922847"><img src="assets/img/papa5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p> El Papagayo ofrece una propuesta variada y jugada, con platos creativos y sabores novedosos. La atención es de primera y cuenta con un menu de 11 pasos en el que un chef va trayendo comida variada sin menu especifico.</p>
</div>

</ion-content>
