<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Shopping cordoba</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Cordoba Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334" ><img src="assets/img/shop3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba+Shopping/@-31.3803335,-64.2172221,17z/data=!3m1!4b1!4m5!3m4!1s0x943298e1314ddd43:0x9773a453e96d11df!8m2!3d-31.3803381!4d-64.2150334"><img src="assets/img/shop5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>La estructura de Córdoba, Shopping Villa Cabrera, cuenta con 21.267 m2 para locales comerciales sobre una superficie total de 34.626 m2 cubiertos y un estacionamiento con capacidad para 1.500 automóviles con un 50% de cocheras cubiertas. </p>
</div>

<h2 class="h2">Nuevocentro Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Nuevocentro+Shopping/@-31.4243686,-64.2137711,12.34z/data=!4m12!1m6!3m5!1s0x943298830933ad09:0xb72fd713f4c77c4e!2sNuevocentro+Shopping!8m2!3d-31.4130363!4d-64.2045522!3m4!1s0x943298830933ad09:0xb72fd713f4c77c4e!8m2!3d-31.4130363!4d-64.2045522"><img src="assets/img/nuevo5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Nuevocentro shopping es un Centro Comercial con amplia variedad de locales comerciales, buena oferta gastronómica en el patio de comidas, cine Hoyts, local de Neverland para los mas chicos, y conectado con la Tienda Falabella y un Supermercado.</p>
</div>


<h2 class="h2">Patio Olmos Shopping</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Patio+Olmos+Shopping/@-31.4099637,-64.4183798,10.07z/data=!4m5!3m4!1s0x9432a32dcf5d747f:0x40373220b29140ac!8m2!3d-31.4199094!4d-64.1882922"><img src="assets/img/patio.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Patio+Olmos+Shopping/@-31.4099637,-64.4183798,10.07z/data=!4m5!3m4!1s0x9432a32dcf5d747f:0x40373220b29140ac!8m2!3d-31.4199094!4d-64.1882922"><img src="assets/img/patio2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Patio+Olmos+Shopping/@-31.4099637,-64.4183798,10.07z/data=!4m5!3m4!1s0x9432a32dcf5d747f:0x40373220b29140ac!8m2!3d-31.4199094!4d-64.1882922"><img src="assets/img/patio3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Patio+Olmos+Shopping/@-31.4099637,-64.4183798,10.07z/data=!4m5!3m4!1s0x9432a32dcf5d747f:0x40373220b29140ac!8m2!3d-31.4199094!4d-64.1882922"><img src="assets/img/patio4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Patio+Olmos+Shopping/@-31.4099637,-64.4183798,10.07z/data=!4m5!3m4!1s0x9432a32dcf5d747f:0x40373220b29140ac!8m2!3d-31.4199094!4d-64.1882922"><img src="assets/img/patio5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p> El shopping Patio Olmos esta ubicado en el corazón neurálgico de la ciudad de Córdoba, con una expansión de 45.000 m2 en 4 plantas y más de 700 estacionamientos, los servicios destacados del Patio Olmos Shopping Center son: Complejo de cines operados por el grupo Hoyts, una sede del Hospital Privado y más de 150 locales comerciales.</p>
</div>

</ion-content>
