<ion-header>
  <ion-toolbar>
    <ion-title>turismmendoza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <h2 class="h2">BODEGAS Y VINOS</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Sol+y+Vino+Mendoza/@-32.889307,-68.8500957,17z/data=!4m9!1m2!2m1!1sbodegas+y+nivos+mendoza!3m5!1s0x967e0bc3c8701205:0x5b26de8efb5cbf7f!8m2!3d-32.889307!4d-68.847907!15sChdib2RlZ2FzIHkgdmlub3MgbWVuZG96YVoZIhdib2RlZ2FzIHkgdmlub3MgbWVuZG96YZIBCndpbmVfc3RvcmWaASNDaFpEU1VoTk1HOW5TMFZKUTBGblNVUlpYM1UyU2t0QkVBRQ"><img src="assets/img/bodegas6.png" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/paseo+del+vino+de+la+ciudad/@-32.8919299,-68.8407314,17z/data=!4m9!1m2!2m1!1sbodegas+y+nivos+mendoza!3m5!1s0x967e091997d7ad23:0x1e8f75915e57d569!8m2!3d-32.8899568!4d-68.8389462!15sChdib2RlZ2FzIHkgdmlub3MgbWVuZG96YVoZIhdib2RlZ2FzIHkgdmlub3MgbWVuZG96YZIBCHdpbmVfYmFy"><img src="assets/img/vino mendoza.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/paseo+del+vino+de+la+ciudad/@-32.8919299,-68.8407314,17z/data=!4m9!1m2!2m1!1sbodegas+y+nivos+mendoza!3m5!1s0x967e091997d7ad23:0x1e8f75915e57d569!8m2!3d-32.8899568!4d-68.8389462!15sChdib2RlZ2FzIHkgdmlub3MgbWVuZG96YVoZIhdib2RlZ2FzIHkgdmlub3MgbWVuZG96YZIBCHdpbmVfYmFy"><img src="assets/img/jardin4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Mendoza+Wine+Experience/@-32.8919299,-68.8407314,17z/data=!4m9!1m2!2m1!1sbodegas+y+nivos+mendoza!3m5!1s0x967e091a69d1c30d:0x3e31aec76b79f3f5!8m2!3d-32.8912991!4d-68.8427262!15sChdib2RlZ2FzIHkgdmlub3MgbWVuZG96YZIBC3RvdXJfYWdlbmN5"><img src="assets/img/vino en mendoza3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Wines+of+Argentina/@-32.8919299,-68.8407314,17z/data=!4m9!1m2!2m1!1sbodegas+y+nivos+mendoza!3m5!1s0x967e0eb64658c9dd:0x896d3d9c71acff6a!8m2!3d-32.89027!4d-68.842282!15sChdib2RlZ2FzIHkgdmlub3MgbWVuZG96YVoZIhdib2RlZ2FzIHkgdmlub3MgbWVuZG96YZIBF25vbl9wcm9maXRfb3JnYW5pemF0aW9umgEkQ2hkRFNVaE5NRzluUzBWSlEwRm5TVVF3Ymt0bE5uTjNSUkFC"><img src="assets/img/vino321.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Entre <b>Las mejores bodegas del mundo</b>, y los vinos mas demandados y deseados por los amantes de esta bebida. Exclusividad maxima y excelentes comidas en combo.</p>
</div>

<h2 class="h2">TOURS</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Mendoza+City+Tour/@-32.8919209,-68.8407314,17z/data=!4m9!1m2!2m1!1stours+mendoza!3m5!1s0x967e0919eb2ff31b:0xbe7602e812bb2512!8m2!3d-32.8905133!4d-68.8394958!15sCg10b3VycyBtZW5kb3phWg8iDXRvdXJzIG1lbmRvemGSAQ9idXNfdG91cl9hZ2VuY3maASRDaGREU1VoTk1HOW5TMFZKUTBGblNVUk5NalJQZW5SQlJSQUI"><img src="assets/img/tours1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Mendoza+City+Tour/@-32.8919209,-68.8407314,17z/data=!4m9!1m2!2m1!1stours+mendoza!3m5!1s0x967e0919eb2ff31b:0xbe7602e812bb2512!8m2!3d-32.8905133!4d-68.8394958!15sCg10b3VycyBtZW5kb3phWg8iDXRvdXJzIG1lbmRvemGSAQ9idXNfdG91cl9hZ2VuY3maASRDaGREU1VoTk1HOW5TMFZKUTBGblNVUk5NalJQZW5SQlJSQUI"><img src="assets/img/tours2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Mendoza+City+Tour/@-32.8919209,-68.8407314,17z/data=!4m9!1m2!2m1!1stours+mendoza!3m5!1s0x967e0919eb2ff31b:0xbe7602e812bb2512!8m2!3d-32.8905133!4d-68.8394958!15sCg10b3VycyBtZW5kb3phWg8iDXRvdXJzIG1lbmRvemGSAQ9idXNfdG91cl9hZ2VuY3maASRDaGREU1VoTk1HOW5TMFZKUTBGblNVUk5NalJQZW5SQlJSQUI"><img src="assets/img/tours3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Mendoza+City+Tour/@-32.8919209,-68.8407314,17z/data=!4m9!1m2!2m1!1stours+mendoza!3m5!1s0x967e0919eb2ff31b:0xbe7602e812bb2512!8m2!3d-32.8905133!4d-68.8394958!15sCg10b3VycyBtZW5kb3phWg8iDXRvdXJzIG1lbmRvemGSAQ9idXNfdG91cl9hZ2VuY3maASRDaGREU1VoTk1HOW5TMFZKUTBGblNVUk5NalJQZW5SQlJSQUI"><img src="assets/img/tours4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Mendoza+City+Tour/@-32.8919209,-68.8407314,17z/data=!4m9!1m2!2m1!1stours+mendoza!3m5!1s0x967e0919eb2ff31b:0xbe7602e812bb2512!8m2!3d-32.8905133!4d-68.8394958!15sCg10b3VycyBtZW5kb3phWg8iDXRvdXJzIG1lbmRvemGSAQ9idXNfdG91cl9hZ2VuY3maASRDaGREU1VoTk1HOW5TMFZKUTBGblNVUk5NalJQZW5SQlJSQUI"><img src="assets/img/tours5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Desde transportes terrestres, tours a pie y en bicicleta. Deportes acuaticos, excursiones a la costa con lujos y ocaciones especiales,spas, clases y talleres.</p>
</div>


<h2 class="h2">SPA</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Kaua+Club+and+Spa+at+Park+Hyatt+Mendoza+Hotel/@-32.8891368,-68.8481427,17z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e091cb63a6973:0x8b12a745506d17d1!8m2!3d-32.8891368!4d-68.8459733!15sCgtzcGEgbWVuZG96YZIBB2RheV9zcGE"><img src="assets/img/spa1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Kaua+Club+and+Spa+at+Park+Hyatt+Mendoza+Hotel/@-32.8891368,-68.8481427,17z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e091cb63a6973:0x8b12a745506d17d1!8m2!3d-32.8891368!4d-68.8459733!15sCgtzcGEgbWVuZG96YZIBB2RheV9zcGE"><img src="assets/img/spa2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Kaua+Club+and+Spa+at+Park+Hyatt+Mendoza+Hotel/@-32.8891368,-68.8481427,17z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e091cb63a6973:0x8b12a745506d17d1!8m2!3d-32.8891368!4d-68.8459733!15sCgtzcGEgbWVuZG96YZIBB2RheV9zcGE"><img src="assets/img/spa3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Kaua+Club+and+Spa+at+Park+Hyatt+Mendoza+Hotel/@-32.8891368,-68.8481427,17z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e091cb63a6973:0x8b12a745506d17d1!8m2!3d-32.8891368!4d-68.8459733!15sCgtzcGEgbWVuZG96YZIBB2RheV9zcGE"><img src="assets/img/spa5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com.ar/maps/place/Kaua+Club+and+Spa+at+Park+Hyatt+Mendoza+Hotel/@-32.8891368,-68.8481427,17z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e091cb63a6973:0x8b12a745506d17d1!8m2!3d-32.8891368!4d-68.8459733!15sCgtzcGEgbWVuZG96YZIBB2RheV9zcGE"><img src="assets/img/spa4.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Si llegaste a Mendoza probablemente buscas relajarte y disfrutar y eso es lo primero que vas a encontrar en el SPA de Mendoza.</p>
</div>

</ion-content>
