<ion-header>
  <ion-toolbar>
    <ion-title>turismmendoza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <h2 class="h2">BODEGAS Y VINOS</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Journeys/@-32.909016,-68.8601777,15z/data=!4m8!1m2!2m1!1sbodegas+y+vinos+mendoza!3m4!1s0x967e0b3232982133:0xd169c985853309b0!8m2!3d-32.9090225!4d-68.8514509"><img src="assets/img/bodegas6.png" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Journeys/@-32.909016,-68.8601777,15z/data=!4m8!1m2!2m1!1sbodegas+y+vinos+mendoza!3m4!1s0x967e0b3232982133:0xd169c985853309b0!8m2!3d-32.9090225!4d-68.8514509"><img src="assets/img/vino mendoza.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Journeys/@-32.909016,-68.8601777,15z/data=!4m8!1m2!2m1!1sbodegas+y+vinos+mendoza!3m4!1s0x967e0b3232982133:0xd169c985853309b0!8m2!3d-32.9090225!4d-68.8514509"><img src="assets/img/jardin4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Journeys/@-32.909016,-68.8601777,15z/data=!4m8!1m2!2m1!1sbodegas+y+vinos+mendoza!3m4!1s0x967e0b3232982133:0xd169c985853309b0!8m2!3d-32.9090225!4d-68.8514509"><img src="assets/img/vino en mendoza3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Journeys/@-32.909016,-68.8601777,15z/data=!4m8!1m2!2m1!1sbodegas+y+vinos+mendoza!3m4!1s0x967e0b3232982133:0xd169c985853309b0!8m2!3d-32.9090225!4d-68.8514509"><img src="assets/img/vino321.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Entre <b>Las mejores bodegas del mundo</b>, y los vinos mas demandados y deseados por los amantes de esta bebida. Exclusividad maxima y excelentes comidas en combo.</p>
</div>

<h2 class="h2">TOURS</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Turismo+Mendoza/@-32.8992667,-68.8528674,17z/data=!3m1!4b1!4m5!3m4!1s0x967e099e1c739fa7:0x49cd6ed5658cf56c!8m2!3d-32.8992712!4d-68.8506787"><img src="assets/img/tours1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Turismo+Mendoza/@-32.8992667,-68.8528674,17z/data=!3m1!4b1!4m5!3m4!1s0x967e099e1c739fa7:0x49cd6ed5658cf56c!8m2!3d-32.8992712!4d-68.8506787"><img src="assets/img/tours2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Turismo+Mendoza/@-32.8992667,-68.8528674,17z/data=!3m1!4b1!4m5!3m4!1s0x967e099e1c739fa7:0x49cd6ed5658cf56c!8m2!3d-32.8992712!4d-68.8506787"><img src="assets/img/tours3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Turismo+Mendoza/@-32.8992667,-68.8528674,17z/data=!3m1!4b1!4m5!3m4!1s0x967e099e1c739fa7:0x49cd6ed5658cf56c!8m2!3d-32.8992712!4d-68.8506787"><img src="assets/img/tours4.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Turismo+Mendoza/@-32.8992667,-68.8528674,17z/data=!3m1!4b1!4m5!3m4!1s0x967e099e1c739fa7:0x49cd6ed5658cf56c!8m2!3d-32.8992712!4d-68.8506787"><img src="assets/img/tours5.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Desde transportes terrestres, tours a pie y en bicicleta. Deportes acuaticos, excursiones a la costa con lujos y ocaciones especiales,spas, clases y talleres.</p>
</div>


<h2 class="h2">SPA</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Spa/@-32.895826,-68.8598186,15z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e090f1630e2ed:0xb4320d43a3bf42a9!8m2!3d-32.8958449!4d-68.8510659!15sCgtzcGEgbWVuZG96YZIBDGJlYXV0eV9zYWxvbg"><img src="assets/img/spa1.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Spa/@-32.895826,-68.8598186,15z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e090f1630e2ed:0xb4320d43a3bf42a9!8m2!3d-32.8958449!4d-68.8510659!15sCgtzcGEgbWVuZG96YZIBDGJlYXV0eV9zYWxvbg"><img src="assets/img/spa2.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Spa/@-32.895826,-68.8598186,15z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e090f1630e2ed:0xb4320d43a3bf42a9!8m2!3d-32.8958449!4d-68.8510659!15sCgtzcGEgbWVuZG96YZIBDGJlYXV0eV9zYWxvbg"><img src="assets/img/spa3.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Spa/@-32.895826,-68.8598186,15z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e090f1630e2ed:0xb4320d43a3bf42a9!8m2!3d-32.8958449!4d-68.8510659!15sCgtzcGEgbWVuZG96YZIBDGJlYXV0eV9zYWxvbg"><img src="assets/img/spa5.jpg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Mendoza+Spa/@-32.895826,-68.8598186,15z/data=!4m9!1m2!2m1!1sspa+mendoza!3m5!1s0x967e090f1630e2ed:0xb4320d43a3bf42a9!8m2!3d-32.8958449!4d-68.8510659!15sCgtzcGEgbWVuZG96YZIBDGJlYXV0eV9zYWxvbg"><img src="assets/img/spa4.jpg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Si llegaste a Mendoza probablemente buscas relajarte y disfrutar y eso es lo primero que vas a encontrar en el SPA de Mendoza.</p>
</div>

</ion-content>
