<ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="assets/img/logo2.png" alt="viajemos" class="imginicio"/>

  <ion-content padding>

      <ion-item>
          <ion-label floating primary >Username</ion-label>
          <ion-input type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item> 

      <ion-item>
          <ion-label floating primary >Password</ion-label>
          <ion-input type="password" [(ngModel)]="contra"></ion-input>
      </ion-item> 

      <ion-button (click)="comprobarlogin()" expand="block" class="botoninicio"> Inciar sesión </ion-button>

    </ion-content>
    
</ion-content>

