.logo{     
    width:70% !important;  
    height : 70% !important;  
    max-width: 70px !important;  //any size
    max-height: 70px !important; //any size 
    }
.parrafo1{text-align: center;
color: rgb(0, 0, 0);}
.equipo{align-self: center;}

.Descripcion{
margin-left: 20px;
margin-right: 20px;}


.Contactanos{color: white;
font-size: 40px;
font-weight: bolder;
text-align: center;}

.CajaContactanos{background-color: #2152f1;
    border-radius: 10px;
margin-left: 5px;
margin-right: 5px;}

