<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Nosotros</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/equipo.png" alt="imagen equipo" class="equipo">
  <div class="Descripcion">
  <ion-text>
    <h1 class="parrafo1">Somos un equipo de trabajo que se propuso cambiar la manera en la que viajamos. Por eso lanzamos la app "Turistiando" para asi facilitarle la tarea los turistas locales e internacionales de encontrar actividades por hacer en Argentina.
    </h1>
  </ion-text>
</div>
<div class="CajaContactanos">

  <h1 class="Contactanos">CONTACTANOS!! </h1>


</div>
  
<ion-button expand="block"  color="danger"><ion-icon name="mail"></ion-icon></ion-button>
<ion-button expand="block"  color="tertiary"><ion-icon name="logo-instagram"></ion-icon></ion-button>
 

</ion-content>
