<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Nosotros</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="secondary">
    <h1>Somos un equipo de trabajo que se propuso cambiar la manera en la que viajamos. Por eso lanzamos la app "Viajemos" para asi facilitarle la tarea los turistas locales e internacionales de encontrar actividades por hacer.</h1>
  </ion-text>
 
  <ion-icon name="logo-instagram"></ion-icon>
</ion-content>
