<ion-header>
  <ion-toolbar>
    <ion-title>Rio Negro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
  
    <ion-slide>
      <div class="slide">
        <img src="assets/img/lagorionegro.jpg"/>
        <h2>Rio Negro</h2>
        <p>Conoce más sobre la Provincia de Rio Negro.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/dique.jpg"/>
      <h2>Turismo</h2>
      <p> Dicha provincia cuenta con varios centros turisticos, para conocer mas sobre ellos presiona el boton <b>"Ver más".</b></p>
      <ion-button>Ver más</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/esqui.jpg"/>
      <h2>Deporte</h2>
      <p>El deporte es algo que apasiona a los Argentinos y Rio Negro cuenta con varios sitios en los que uno puede practicarlo. <b>Ski</b> es un deporte clasico de Rio Negro que se practica en las montañas de la provincia</p>
      <ion-button>Ver más</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/hotelRionegro.jpg">
      <h2>Restaurante</h2>
      <p>En Rio Negro podes encontrar diferentes lugares para disfrutar de una rica comida con tu familia, amigos o con quien quieras. Te dejaremos una lista de los mejores restaurantes.</p>
      <ion-button>Ver más</ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
