<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Restaurante RN</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">Caliú Bariloche</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=caliu+bariloche&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjUxZPEkvbzAhUsH7kGHRCCCEwQ_AUoAXoECAEQAw"><img src="assets/img/caliu1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=caliu+bariloche&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjUxZPEkvbzAhUsH7kGHRCCCEwQ_AUoAXoECAEQAw"><img src="assets/img/caliu2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=caliu+bariloche&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjUxZPEkvbzAhUsH7kGHRCCCEwQ_AUoAXoECAEQAw" ><img src="assets/img/caliu3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=caliu+bariloche&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjUxZPEkvbzAhUsH7kGHRCCCEwQ_AUoAXoECAEQAw"><img src="assets/img/caliu4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps?q=caliu+bariloche&rlz=1C1ALOY_esAR976AR976&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjUxZPEkvbzAhUsH7kGHRCCCEwQ_AUoAXoECAEQAw"><img src="assets/img/caliu5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Caliú es un emprendimiento familiar, un restaurante atendido por sus dueños y cuya oferta gastronómica se inclina por la fusión de comida mediterránea con sabores tradicionales argentinos. Cada plato está pensado y elaborado con la intención de sorprender y deleitar.</p>
</div>

<h2 class="h2">Huacho Restaurante</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Huacho+Restaurante/@-41.1393084,-71.321287,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b0d15bed48d:0xb4ad084b38bf0d19!8m2!3d-41.1393084!4d-71.3190983"><img src="assets/img/huacho1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Huacho+Restaurante/@-41.1393084,-71.321287,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b0d15bed48d:0xb4ad084b38bf0d19!8m2!3d-41.1393084!4d-71.3190983"><img src="assets/img/huacho2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Huacho+Restaurante/@-41.1393084,-71.321287,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b0d15bed48d:0xb4ad084b38bf0d19!8m2!3d-41.1393084!4d-71.3190983"><img src="assets/img/huacho3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Huacho+Restaurante/@-41.1393084,-71.321287,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b0d15bed48d:0xb4ad084b38bf0d19!8m2!3d-41.1393084!4d-71.3190983"><img src="assets/img/huacho4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Huacho+Restaurante/@-41.1393084,-71.321287,17z/data=!3m1!4b1!4m5!3m4!1s0x961a7b0d15bed48d:0xb4ad084b38bf0d19!8m2!3d-41.1393084!4d-71.3190983"><img src="assets/img/huacho5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Cocina a Leña. Cocina Genuina. Bife de Chorizo, Ojo de Bife y Lomo de Exportación. Cordero y Trucha Patagónica. Pastas Frescas. Vegetales Asados y Especiales todos los días.</p>
</div>


<h2 class="h2">A Gusto</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/A+Gusto/@-41.9632572,-71.5351542,17z/data=!3m1!4b1!4m5!3m4!1s0x961bbfce47b9412d:0x54b16fdfba56ebf!8m2!3d-41.9632572!4d-71.5329655"><img src="assets/img/gusto1.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/A+Gusto/@-41.9632572,-71.5351542,17z/data=!3m1!4b1!4m5!3m4!1s0x961bbfce47b9412d:0x54b16fdfba56ebf!8m2!3d-41.9632572!4d-71.5329655"><img src="assets/img/gusto2.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/A+Gusto/@-41.9632572,-71.5351542,17z/data=!3m1!4b1!4m5!3m4!1s0x961bbfce47b9412d:0x54b16fdfba56ebf!8m2!3d-41.9632572!4d-71.5329655"><img src="assets/img/gusto3.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/A+Gusto/@-41.9632572,-71.5351542,17z/data=!3m1!4b1!4m5!3m4!1s0x961bbfce47b9412d:0x54b16fdfba56ebf!8m2!3d-41.9632572!4d-71.5329655"><img src="assets/img/gusto4.jfif" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/A+Gusto/@-41.9632572,-71.5351542,17z/data=!3m1!4b1!4m5!3m4!1s0x961bbfce47b9412d:0x54b16fdfba56ebf!8m2!3d-41.9632572!4d-71.5329655"><img src="assets/img/gusto5.jfif" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Un lugar muy cálido y limpio, las mozas súper atentas y buena onda, platos ricos y buenos precios. </p>
</div>

</ion-content>
