<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Restaurante Bs As</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <h2 class="h2">CHILA</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/CHILA/@-34.610966,-58.3683087,17z/data=!3m1!4b1!4m5!3m4!1s0x95a3352a1cbc33af:0x8663ae2be358730c!8m2!3d-34.6109573!4d-58.3661126"><img src="assets/img/chila1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/CHILA/@-34.610966,-58.3683087,17z/data=!3m1!4b1!4m5!3m4!1s0x95a3352a1cbc33af:0x8663ae2be358730c!8m2!3d-34.6109573!4d-58.3661126"><img src="assets/img/chila2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/CHILA/@-34.610966,-58.3683087,17z/data=!3m1!4b1!4m5!3m4!1s0x95a3352a1cbc33af:0x8663ae2be358730c!8m2!3d-34.6109573!4d-58.3661126" ><img src="assets/img/chila3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/CHILA/@-34.610966,-58.3683087,17z/data=!3m1!4b1!4m5!3m4!1s0x95a3352a1cbc33af:0x8663ae2be358730c!8m2!3d-34.6109573!4d-58.3661126"><img src="assets/img/chila4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/CHILA/@-34.610966,-58.3683087,17z/data=!3m1!4b1!4m5!3m4!1s0x95a3352a1cbc33af:0x8663ae2be358730c!8m2!3d-34.6109573!4d-58.3661126"><img src="assets/img/chila5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Degusta platos de <b>la cocina argentina </b> en este restaurante. Podes pedir un sorprendente chile, unas sabrosas gambas y una tierna merluza. Te va a encantar su comida, en particular sus generosos helados, su atrayente suflé y su delicado parfait.</p>
</div>

<h2 class="h2">RonConCon</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/RONCONCON+Cocina+Latina/@-34.6233399,-58.4357151,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccbc456e7520d:0x8810fa4dd6492701!8m2!3d-34.6233332!4d-58.4334545"><img src="assets/img/ron1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/RONCONCON+Cocina+Latina/@-34.6233399,-58.4357151,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccbc456e7520d:0x8810fa4dd6492701!8m2!3d-34.6233332!4d-58.4334545"><img src="assets/img/ron2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/RONCONCON+Cocina+Latina/@-34.6233399,-58.4357151,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccbc456e7520d:0x8810fa4dd6492701!8m2!3d-34.6233332!4d-58.4334545"><img src="assets/img/ron3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/RONCONCON+Cocina+Latina/@-34.6233399,-58.4357151,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccbc456e7520d:0x8810fa4dd6492701!8m2!3d-34.6233332!4d-58.4334545"><img src="assets/img/ron4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/RONCONCON+Cocina+Latina/@-34.6233399,-58.4357151,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccbc456e7520d:0x8810fa4dd6492701!8m2!3d-34.6233332!4d-58.4334545"><img src="assets/img/ron5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Los vibrantes <b>sabores de Latinoamérica</b> se expresan con entusiasmo en el nuevo Ronconcon. Un espacio que transporta al comensal por tierras caribeñas a través de platos típicos con productos autóctonos y toques vanguardistas, acompañados de una coctelería de bebidas latinoamericanas</p>
</div>


<h2 class="h2">Parrilla Santo Asado</h2>

<ion-slides [options]="option" class="ion-margin-top">
  
  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parrilla+Santo+Asado/@-34.5439427,-58.7009636,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcbd261ce30731:0xef24e57411903ecd!8m2!3d-34.5439471!4d-58.6987749?hl=es"><img src="assets/img/parrilla1.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parrilla+Santo+Asado/@-34.5439427,-58.7009636,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcbd261ce30731:0xef24e57411903ecd!8m2!3d-34.5439471!4d-58.6987749?hl=es"><img src="assets/img/parrilla2.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parrilla+Santo+Asado/@-34.5439427,-58.7009636,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcbd261ce30731:0xef24e57411903ecd!8m2!3d-34.5439471!4d-58.6987749?hl=es"><img src="assets/img/parrilla3.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parrilla+Santo+Asado/@-34.5439427,-58.7009636,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcbd261ce30731:0xef24e57411903ecd!8m2!3d-34.5439471!4d-58.6987749?hl=es"><img src="assets/img/parrilla4.jpeg" > </a>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <a href="https://www.google.com/maps/place/Parrilla+Santo+Asado/@-34.5439427,-58.7009636,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcbd261ce30731:0xef24e57411903ecd!8m2!3d-34.5439471!4d-58.6987749?hl=es"><img src="assets/img/parrilla5.jpeg" > </a>
    </ion-card>
  </ion-slide>

</ion-slides>

<div class="p">
  <p>Es una <b>de las mejores parrillas argentinas</b> que hay en el pais. Son fanáticos de del asado, del vino y de las buenas compañías. </p>
</div>

</ion-content>
