<ion-header>
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Socios</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
 


<h2 class="h2">Kansas grill and bar </h2>


  
  
    <ion-card>
      <a href="https://www.kansasgrillandbar.com.ar/"><img src="assets/img/kansas.jpg" > </a>
    </ion-card>

    <h2 class="h2">Chila </h2>
  
    <ion-card>
      <a href="https://www.chilarestaurant.com/"><img src="assets/img/chila.jfif" > </a>
    </ion-card>
  
    <h2 class="h2">Sports club</h2>

    <ion-card>
      <a href="https://www.sportclub.asociate.club/black-friday?utm_source=google&utm_medium=cpc&utm_campaign=cibermondaycompetencia&utm_content=megatlon&utm_term=megatlon&device=c&matchtype=e&network=g&gclid=Cj0KCQiA7oyNBhDiARIsADtGRZbBbGrABFAqXIZf7ZfFtZSX1XJqltiwyTVbnG8wZIvUjUgcLEcGubsaAmXREALw_wcB"><img src="assets/img/sportc.png" > </a>
    </ion-card>
 
    <h2 class="h2">Recoleta Mall </h2>
  
    <ion-card>
      <a href="https://www.recoletamall.com.ar/"><img src="assets/img/recoletama.jfif" > </a>
    </ion-card>
 
    <h2 class="h2">El club de la milanesa </h2>
 
    <ion-card>
      <a href="https://www.elclubdelamilanesa.com/"><img src="assets/img/mila.jpg" > </a>
    </ion-card>
  





</ion-content>
