<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Cordoba</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/img/mendoza123.jpg"/>
        <h2>Mendoza</h2>
        <p>Conoce más sobre la Provincia de Mendoza.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/turismomendoza.jpg"/>
      <h2>Turismo</h2>
      <p> Dicha provincia cuenta con varios centros turisticos, para concer mas sobre ellos presiona el boton <b>"Ver más".</b></p>
      <ion-button  href="turismmendoza">Ver más</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/estadiomendoza123.jpg"/>
      <h2>Deporte</h2>
      <p>El deporte es algo que apasiona a los Argentinos y Mendoza cuenta con varios sitios en los que uno puede practicarlo. <b>El Rugby</b> es de los deportes que mas se practicados en Mendoza, Argentina y se realizan grandes partidos en el gran estadio de Mendoza.</p>
      <ion-button  href="deportemendoza">Ver más</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/vinoenmendoza.jpg/">
      <h2>Restaurante</h2>
      <p>En Mendoza podes encontrar diferentes lugares para disfrutar de una rica comida y los mejores vino con la familia, los amigos o con quien quieras. Te dejaremos una lista de los mejores restaurantes.</p>
      <ion-button  href="restaurantemendoza">Ver más</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/vinoenmendoza.jpg/">
      <h2>Shopping</h2>
      <p>Agregar texto</p>
      <ion-button  href="shoppingmendoza">Ver más</ion-button>
    </ion-slide>


  </ion-slides>
</ion-content>
