<ion-header>
  <ion-toolbar>
    <ion-title>Shoppingmendoza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="h2">Galeria Piazza</h2>

  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Galer%C3%ADa+Piazza/@-33.6812824,-68.1329923,6z/data=!4m9!1m2!2m1!1sgaleria+piazza!3m5!1s0x95bc95cabb17ebfb:0x9962f10261a75112!8m2!3d-34.6340099!4d-58.791382!15sCg5nYWxlcmlhIHBpYXp6YZIBD3Nob3BwaW5nX2NlbnRlcg"><img src="assets/img/galeriap1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Galer%C3%ADa+Piazza/@-33.6812824,-68.1329923,6z/data=!4m9!1m2!2m1!1sgaleria+piazza!3m5!1s0x95bc95cabb17ebfb:0x9962f10261a75112!8m2!3d-34.6340099!4d-58.791382!15sCg5nYWxlcmlhIHBpYXp6YZIBD3Nob3BwaW5nX2NlbnRlcg"><img src="assets/img/galeriap2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Galer%C3%ADa+Piazza/@-33.6812824,-68.1329923,6z/data=!4m9!1m2!2m1!1sgaleria+piazza!3m5!1s0x95bc95cabb17ebfb:0x9962f10261a75112!8m2!3d-34.6340099!4d-58.791382!15sCg5nYWxlcmlhIHBpYXp6YZIBD3Nob3BwaW5nX2NlbnRlcg"><img src="assets/img/galeriap3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Galer%C3%ADa+Piazza/@-33.6812824,-68.1329923,6z/data=!4m9!1m2!2m1!1sgaleria+piazza!3m5!1s0x95bc95cabb17ebfb:0x9962f10261a75112!8m2!3d-34.6340099!4d-58.791382!15sCg5nYWxlcmlhIHBpYXp6YZIBD3Nob3BwaW5nX2NlbnRlcg"><img src="assets/img/donmario3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Galer%C3%ADa+Piazza/@-33.6812824,-68.1329923,6z/data=!4m9!1m2!2m1!1sgaleria+piazza!3m5!1s0x95bc95cabb17ebfb:0x9962f10261a75112!8m2!3d-34.6340099!4d-58.791382!15sCg5nYWxlcmlhIHBpYXp6YZIBD3Nob3BwaW5nX2NlbnRlcg"><img src="assets/img/donmario2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Abierto desde los años ´60, alquila sus espacios con una capacidad de 4000 m2. Su equipo espera sumar clientes y amigos, quienes necesiten un espacio y desarrollar sus ideas y disfrutar.</p>
  </div>
  
  <h2 class="h2">PALMARES</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Palmares/@-32.9554014,-68.8615833,17z/data=!3m1!4b1!4m5!3m4!1s0x967e0bb34d7221c9:0x5bd3675cdf1dd052!8m2!3d-32.9554014!4d-68.8593946"><img src="assets/img/palmares1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Palmares/@-32.9554014,-68.8615833,17z/data=!3m1!4b1!4m5!3m4!1s0x967e0bb34d7221c9:0x5bd3675cdf1dd052!8m2!3d-32.9554014!4d-68.8593946"><img src="assets/img/palmares2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Palmares/@-32.9554014,-68.8615833,17z/data=!3m1!4b1!4m5!3m4!1s0x967e0bb34d7221c9:0x5bd3675cdf1dd052!8m2!3d-32.9554014!4d-68.8593946"><img src="assets/img/palmares3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Palmares/@-32.9554014,-68.8615833,17z/data=!3m1!4b1!4m5!3m4!1s0x967e0bb34d7221c9:0x5bd3675cdf1dd052!8m2!3d-32.9554014!4d-68.8593946"><img src="assets/img/palmares4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Palmares/@-32.9554014,-68.8615833,17z/data=!3m1!4b1!4m5!3m4!1s0x967e0bb34d7221c9:0x5bd3675cdf1dd052!8m2!3d-32.9554014!4d-68.8593946"><img src="assets/img/palmares5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>"Palmares es uno de los centros comerciales mas grandes y visitados de Mendoza. Es conocido por su estilo Europeo y lo abierto que es, con hermosas vistas y lugares para estar".</p>
  </div>
  
  
  <h2 class="h2">LA PUNTILLA</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Urban+Mall+La+Puntilla/@-32.9614186,-68.8745206,15z/data=!4m9!1m2!2m1!1sshopping+mendoza!3m5!1s0x967e0b8d03d9c097:0xe28ad826db131d22!8m2!3d-32.9614186!4d-68.8657659!15sChBzaG9wcGluZyBtZW5kb3phWhIiEHNob3BwaW5nIG1lbmRvemGSAQ9zaG9wcGluZ19jZW50ZXKaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTlRjVGsyT1c5M1JSQUI"><img src="assets/img/puntilla1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Urban+Mall+La+Puntilla/@-32.9614186,-68.8745206,15z/data=!4m9!1m2!2m1!1sshopping+mendoza!3m5!1s0x967e0b8d03d9c097:0xe28ad826db131d22!8m2!3d-32.9614186!4d-68.8657659!15sChBzaG9wcGluZyBtZW5kb3phWhIiEHNob3BwaW5nIG1lbmRvemGSAQ9zaG9wcGluZ19jZW50ZXKaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTlRjVGsyT1c5M1JSQUI"><img src="assets/img/puntilla2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Urban+Mall+La+Puntilla/@-32.9614186,-68.8745206,15z/data=!4m9!1m2!2m1!1sshopping+mendoza!3m5!1s0x967e0b8d03d9c097:0xe28ad826db131d22!8m2!3d-32.9614186!4d-68.8657659!15sChBzaG9wcGluZyBtZW5kb3phWhIiEHNob3BwaW5nIG1lbmRvemGSAQ9zaG9wcGluZ19jZW50ZXKaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTlRjVGsyT1c5M1JSQUI"><img src="assets/img/puntilla3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Urban+Mall+La+Puntilla/@-32.9614186,-68.8745206,15z/data=!4m9!1m2!2m1!1sshopping+mendoza!3m5!1s0x967e0b8d03d9c097:0xe28ad826db131d22!8m2!3d-32.9614186!4d-68.8657659!15sChBzaG9wcGluZyBtZW5kb3phWhIiEHNob3BwaW5nIG1lbmRvemGSAQ9zaG9wcGluZ19jZW50ZXKaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTlRjVGsyT1c5M1JSQUI"><img src="assets/img/puntilla4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Urban+Mall+La+Puntilla/@-32.9614186,-68.8745206,15z/data=!4m9!1m2!2m1!1sshopping+mendoza!3m5!1s0x967e0b8d03d9c097:0xe28ad826db131d22!8m2!3d-32.9614186!4d-68.8657659!15sChBzaG9wcGluZyBtZW5kb3phWhIiEHNob3BwaW5nIG1lbmRvemGSAQ9zaG9wcGluZ19jZW50ZXKaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTlRjVGsyT1c5M1JSQUI"><img src="assets/img/puntilla5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>El Primero y más lindo complejo comercial de Chacras de Coria , en la provincia de Mendoza, te da la bienvenida con una amplia gama de productos y Servicios, brindados desde muestros 23 locales exclusivos. .</p>
  </div>
</ion-content>
