<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Buenos Aires</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/img/bsas.jpeg"/>
        <h2>Buenos Aires</h2>
        <p>Conoce más sobre la Provincia de Buenos Aires.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/puente.jpeg"/>
      <h2>Turismo</h2>
      <p> Dicha provincia cuenta con varios centros turisticos, para conocer mas sobre ellos presiona el boton <b>"Ver más".</b></p>
      <ion-button>Ver más</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/futbol.jpeg"/>
      <h2>Deporte</h2>
      <p>El deporte es algo que apasiona a los Argentinos y Buenos Aires cuenta con varios sitios en los que uno puede practicarlo. <b>El fútbol</b> es el deporte que mas se practica en Argentina</p>
      <ion-button>Ver más</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/restaurantebs.jpeg/">
      <h2>Restaurante</h2>
      <p>En Buenos Aires podes encontrar diferentes lugares para disfrutar de una rica comida con tu familia, amigos o con quien quieras. Te dejaremos una lista de los mejores restaurantes.</p>
      <ion-button>Ver más</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
