<ion-header>
  <ion-toolbar>
    <ion-title>restaurantes en mendoza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="h2">BODEGAS Y VINOS</h2>

  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/bodegas6.png" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/vino mendoza.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/jardin4.jpeg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/vino en mendoza3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/vino321.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Entre <b>Las mejores bodegas del mundo</b>, y los vinos mas demandados y deseados por los amantes de esta bebida. Exclusividad maxima y excelentes comidas en combo.</p>
  </div>
  
  <h2 class="h2">TOURS</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/tours1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/tours2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/tours3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/tours4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/tours5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Desde transportes terrestres, tours a pie y en bicicleta. Deportes acuaticos, excursiones a la costa con lujos y ocaciones especiales,spas, clases y talleres.</p>
  </div>
  
  
  <h2 class="h2">SPA</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/spa1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/spa2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/spa3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/spa5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/spa4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Si llegaste a Mendoza probablemente buscas relajarte y disfrutar y eso es lo primero que vas a encontrar en el SPA de Mendoza.</p>
  </div>
</ion-content>
