<ion-header>
  <ion-toolbar>
    <ion-title>restaurantes en mendoza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="h2">DON MARIO</h2>

  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/donmario5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/donmario1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/jardin4.jpeg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/donmario3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Jard%C3%ADn+Bot%C3%A1nico+Carlos+Thays/@-34.5825882,-58.4194807,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb581fe35595f:0x801e76c3f778715e!8m2!3d-34.5825882!4d-58.417292?hl=es"><img src="assets/img/donmario2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Don Mario en un restaurante que desde hace años es una tradición en Mendoza. Es hoy máximo exponente de carnes a la parrilla y del auténtico asado argentino.</p>
  </div>
  
  <h2 class="h2">AZAFRAN</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/azafran1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/azafran2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/azafran3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/azafran4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/La+Boca/@-34.6393507,-58.3648729,17z/data=!3m1!4b1!4m5!3m4!1s0x95a334b0562016eb:0x8e3b4c3d1a59a328!8m2!3d-34.6393507!4d-58.3626842?hl=es"><img src="assets/img/azafran5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Azafran:"Somos un lugar donde se mezclan en armonía sabores y aromas de Mendoza con pasión por cocinar. Nos esforzamos por brindar a quienes nos visitan una experiencia placentera y memorable.".</p>
  </div>
  
  
  <h2 class="h2">MONTECATINI</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Gral.+Paz+370,+M5500+Mendoza/@-32.8845133,-68.84494,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091c4d27b735:0xaac5cf5441784381!8m2!3d-32.8845178!4d-68.8427513"><img src="assets/img/monte1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/monte2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/monte3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/monte5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com/maps/place/Av.+9+de+Julio,+Buenos+Aires/@-34.6055778,-58.383909,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccacfdd1fa037:0xf1b1f26b0eab3053!8m2!3d-34.6055778!4d-58.3817203?hl=es"><img src="assets/img/monte4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Por más de 50 años, Montecatini ha sido reconocido en Mendoza por su especialidad en pastas y por ser el creador de los famosos “Capelettis a la Caruso”. Una receta distintiva, que ha logrado traspasar las barreras nacionales, para convertirse en un plato ícono de la gastronomía. .</p>
  </div>
</ion-content>
