<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="menu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Restaurantes Mendoza</ion-title>
    <ion-avatar slot="end" class="logo">
      <img src="assets/img/logo2.png" class="img"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="h2">Don Mario</h2>

  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Restaurant+Don+Mario/@-32.888561,-68.9189592,12z/data=!4m9!1m2!2m1!1sdon+mario,+Mendoza.!3m5!1s0x967e0937cb90e929:0x29b94eb6462642a7!8m2!3d-32.8984343!4d-68.8201188!15sChNkb24gbWFyaW8sIE1lbmRvemEuIgOIAQFaEyIRZG9uIG1hcmlvIG1lbmRvemGSAQpyZXN0YXVyYW50"><img src="assets/img/donmario5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Restaurant+Don+Mario/@-32.888561,-68.9189592,12z/data=!4m9!1m2!2m1!1sdon+mario,+Mendoza.!3m5!1s0x967e0937cb90e929:0x29b94eb6462642a7!8m2!3d-32.8984343!4d-68.8201188!15sChNkb24gbWFyaW8sIE1lbmRvemEuIgOIAQFaEyIRZG9uIG1hcmlvIG1lbmRvemGSAQpyZXN0YXVyYW50"><img src="assets/img/donmario1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Restaurant+Don+Mario/@-32.888561,-68.9189592,12z/data=!4m9!1m2!2m1!1sdon+mario,+Mendoza.!3m5!1s0x967e0937cb90e929:0x29b94eb6462642a7!8m2!3d-32.8984343!4d-68.8201188!15sChNkb24gbWFyaW8sIE1lbmRvemEuIgOIAQFaEyIRZG9uIG1hcmlvIG1lbmRvemGSAQpyZXN0YXVyYW50"><img src="assets/img/jardin4.jpeg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Restaurant+Don+Mario/@-32.888561,-68.9189592,12z/data=!4m9!1m2!2m1!1sdon+mario,+Mendoza.!3m5!1s0x967e0937cb90e929:0x29b94eb6462642a7!8m2!3d-32.8984343!4d-68.8201188!15sChNkb24gbWFyaW8sIE1lbmRvemEuIgOIAQFaEyIRZG9uIG1hcmlvIG1lbmRvemGSAQpyZXN0YXVyYW50"><img src="assets/img/donmario3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Restaurant+Don+Mario/@-32.888561,-68.9189592,12z/data=!4m9!1m2!2m1!1sdon+mario,+Mendoza.!3m5!1s0x967e0937cb90e929:0x29b94eb6462642a7!8m2!3d-32.8984343!4d-68.8201188!15sChNkb24gbWFyaW8sIE1lbmRvemEuIgOIAQFaEyIRZG9uIG1hcmlvIG1lbmRvemGSAQpyZXN0YXVyYW50"><img src="assets/img/donmario2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Don Mario es un restaurante que desde hace años es una tradición en Mendoza. Es hoy máximo exponente de carnes a la parrilla y del auténtico asado argentino.</p>
  </div>
  
  <h2 class="h2">Azafran</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Azafr%C3%A1n/@-32.8887292,-68.8511073,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09406e162117:0x75d2653d07b1bd0d!8m2!3d-32.8887337!4d-68.8489186"><img src="assets/img/azafran1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Azafr%C3%A1n/@-32.8887292,-68.8511073,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09406e162117:0x75d2653d07b1bd0d!8m2!3d-32.8887337!4d-68.8489186"><img src="assets/img/azafran2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Azafr%C3%A1n/@-32.8887292,-68.8511073,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09406e162117:0x75d2653d07b1bd0d!8m2!3d-32.8887337!4d-68.8489186"><img src="assets/img/azafran3.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Azafr%C3%A1n/@-32.8887292,-68.8511073,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09406e162117:0x75d2653d07b1bd0d!8m2!3d-32.8887337!4d-68.8489186"><img src="assets/img/azafran4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Azafr%C3%A1n/@-32.8887292,-68.8511073,17z/data=!3m1!4b1!4m5!3m4!1s0x967e09406e162117:0x75d2653d07b1bd0d!8m2!3d-32.8887337!4d-68.8489186"><img src="assets/img/azafran5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Azafran es un lugar donde se mezclan en armonía sabores y aromas de Mendoza con pasión por cocinar. Se esfuerzan por brindar a quienes los visitan una experiencia placentera y memorable.</p>
  </div>
  
  
  <h2 class="h2">Montecatini</h2>
  
  <ion-slides [options]="option" class="ion-margin-top">
    
    <ion-slide>
      <ion-card>
        <a href="https://www.google.com.ar/maps/place/Gral.+Paz+370,+M5500+Mendoza/@-32.8845133,-68.84494,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091c4d27b735:0xaac5cf5441784381!8m2!3d-32.8845178!4d-68.8427513"><img src="assets/img/monte1.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="google.com.ar/maps/place/Gral.+Paz+370,+M5500+Mendoza/@-32.8845133,-68.84494,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091c4d27b735:0xaac5cf5441784381!8m2!3d-32.8845178!4d-68.8427513"><img src="assets/img/monte2.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="google.com.ar/maps/place/Gral.+Paz+370,+M5500+Mendoza/@-32.8845133,-68.84494,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091c4d27b735:0xaac5cf5441784381!8m2!3d-32.8845178!4d-68.8427513"><img src="assets/img/monte3.jpg" ></a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="google.com.ar/maps/place/Gral.+Paz+370,+M5500+Mendoza/@-32.8845133,-68.84494,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091c4d27b735:0xaac5cf5441784381!8m2!3d-32.8845178!4d-68.8427513"><img src="assets/img/monte5.jpg" > </a>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <a href="google.com.ar/maps/place/Gral.+Paz+370,+M5500+Mendoza/@-32.8845133,-68.84494,17z/data=!3m1!4b1!4m5!3m4!1s0x967e091c4d27b735:0xaac5cf5441784381!8m2!3d-32.8845178!4d-68.8427513"><img src="assets/img/monte4.jpg" > </a>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  
  <div class="p">
    <p>Por más de 50 años, Montecatini ha sido reconocido en Mendoza por su especialidad en pastas y por ser el creador de los famosos “Capelettis a la Caruso”. Una receta distintiva, que ha logrado traspasar las barreras nacionales para convertirse en un plato íconoico de la gastronomía.</p>
  </div>
</ion-content>
